@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    Font-size: 18px;
    font-family: poppins;
}

button, .button2 {
    background-color: hsl(322, 100%, 66%);
    border: none;
    padding: .8rem 3rem;
    border-radius: 2rem;
    color: white;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

a {
    width: max-content;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 5px black;
}

.content {
    padding: 1.5rem;
}

.pagetop {
    background: url(./images/bg-hero-mobile.svg), hsl(193, 100%, 96%);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 30%;
    color: black;
}

header p {
    color: hsl(208, 11%, 55%);
    font-size: 12px;
    font-weight: 600;
    background-color: white;
    border-radius: 1rem;
    padding: 0.4rem 2rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.19);
}

header p:hover {
    box-shadow: 0 0 5px black;
}



.maincontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
    align-items: center;
}

.maincontent .h1 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.maincontent .description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2rem;
    color: hsl(192, 100%, 9%)
}

.maincontent img {
    width: 100%;
    margin-top: 3rem;
}



/* middle section */

.midsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

/* heading font */

.midheading {
    font-size: 24px;
    font-weight: 600;
    margin: 1.5rem 0;
}

/* description font */

.middescription {
    color: hsl(208, 11%, 55%);
}

/* mid image */

.midsection img {
    width: 100%;
}

.section1, .section2, .section3 {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.156);
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 3rem;
}


.floatbox {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.156);
    padding: 3rem 1rem;
    margin: 2rem;
    border-radius: 1rem;
    text-align: center;
    background-color: white;
    transform: translateY(65%);
}

.floatbox p {
    font-weight: 600;
    margin-bottom: 1rem;
    color: black;
}


/* .bottom page */

.bottom {
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    padding: 1rem;
    font-size: 16px;
}

.bottomtop {
    padding-top: 30%;
}

.bottomtop .logo {
    width: 30%;
}

.location, .phone, .email {
    display: flex;
    margin: 1.5rem 0;
}

.img {
    margin-right: 1.5rem;
}




.bottommid {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.bottommid p {
    margin: .5rem 0;
    width: max-content;
    color: hsl(193, 100%, 96%);
}


.bottomend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socialmedia svg {
    margin: .5rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: .5s;
}

.socialmedia {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.bottomend p {
    font-size: 12px;
}

.socialmedia svg:hover {
    fill: pink;
    border: none;
    width: 40px;
    height: 40px;
}

.bottommid p:hover {
    text-decoration: underline;
}
.copyright {
    text-align: center;
    font-size: 12px;
}





@media screen and (min-width:788px) {
    .pagetop {
        background: url(./images/bg-hero-desktop.svg), hsl(193, 100%, 96%);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        padding: 4rem;
    }

    .maincontent {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
    }

    .maincontent .text {
        max-width: 40%;
        margin-right: 5rem;
    }
header img{
    width: 15%;
    height: auto;
}
    header p {
        font-size: 14px;
        border-radius: 2rem;
        padding: .8rem 3rem;
    }

    .button2 {
        padding: 1.4rem 5rem;
        border-radius: 3rem;
    }

    .maincontent .h1 {
        font-size: 36px;
    }

    .midsection .section1, .section2, .section3 {
        display: flex;
        width: 85%;
        height: 450px;
        align-items: center;
        text-align: left;
    }

    .section3 .sectiontext {
        width: 50%;
        margin: 0rem 8rem 0rem 0rem;
    }

    .section1 .sectiontext {
        width: 50%;
        margin: 0rem 8rem 0rem 0rem;
    }

    .section1, .section3 {
        flex-flow: row-reverse;
        padding: 3rem 3rem 3rem 8rem;
    }

    .section2 {
        padding: 3rem 3rem 3rem 8rem;
    }

    .section2 .sectiontext {
        width: 50%;
        margin: 0rem 0rem 0rem 8rem;
    }

    .midsection img {
        max-width: 35%;
    }

    .floatbox {
        width: 50%;
        margin: 0 auto;
        transform: translateY(90px);
        font-size: 30px;
    }

    .bottom {
        padding: 2rem 5rem;
    }

    .bottomtop {
        padding-top: 15%;
    }

    .endbox {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .info {
        width: 35%;
    }

    .bottommid {
        margin-top: 0;
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 2rem;
    }

    .copyright {
        text-align: right;
        font-size: 10px
    }

    .socialmedia {
        width: 100px;
    }
    .bottomtop .logo {
        width: 15%;
    }
}